<h1>Listing cursuses</h1>

<table>
  <tr>
  </tr>

<% @cursuses.each do |cursus| %>
  <tr>
    <td><%= link_to cursus.name, cursus_path(cursus) %></td>
    <td><%= link_to 'Edit', edit_cursus_path(cursus) %></td>
    <td><%= link_to 'Destroy', cursus_path(cursus), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New cursus', new_cursus_path %>