<h1>Listing periods</h1>

<table>
  <tr>
  </tr>

<% @periods.each do |period| %>
  <tr>
    <td><%= link_to 'Show', cursus_period %></td>
    <td><%= link_to 'Edit', cursus_edit_period_path(period) %></td>
    <td><%= link_to 'Destroy', period, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New period', cursus_new_period_path(@cursus) %>