/*
*	Show (campuses, cursuses)
*/


table { width: 100%; font-size: 11px; border: 0; }

table thead th
{

	font-weight: bold;
	text-align: left;
	background: #FFF;
	border-bottom: 1px solid #E5E2E2;
}		


table tbody tr td { background: #FFF; }

table thead th,
table tbody tr td { padding-top: 10px; padding-left:10px; }

table tbody tr th { text-align:right; }


table.fab_table a, table.fab_table table, table.fab_table tbody, table.fab_table tfoot, table.fab_table tr, table.fab_table th, table.fab_table  td
{
   font-family: Arial, Helvetica, sans-serif;
	line-height: 2.0em;
	font-size: 13px;
	color: #55595c;
	text-align:left;
	text-decoration: none;
	
}
table.fab_table tbody td{
	line-height: 2.5em;
}

table.fab_table table caption
{
	padding: .4em 0 ;
	font-size: 240%;
	font-style: normal;
	color: #FB7E00;
}

table.fab_table table a
{
	display: block;
	text-decoration: none;
	color: #FF8E53;
	padding-right: 1.5em;
	
}

table.fab_table table a:hover, table.fab_table table a:focus
{
text-decoration: underline;
}

table.fab_table table th a
{
	color: #FF8E53;
	text-align: right;
}
table.fab_table table .odd th a, .fab_table table .odd td a, .fab_table table .odd td{
	color: #666;
	padding-right: 1.0 em;
}

table.fab_table table th a:hover, .fab_table table th a:focus, .fab_table tbody tr:hover th
{   
   background-color: #FFCC99;
	color: #fff !important;
}
table.fab_table table .odd th, table.fab_table table .odd td{
	background-color: #DDDDDD;
}

table.fab_table thead th
{
	background-image: url(../images/verlauf_schwarz.gif);
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: 1px;
	color: #fff;
	
}
table.fab_table tfoot{
	background-image: url(../images/verlauf_schwarz.gif);
	border-top: 1px solid #fff;
	
	
}
table.fab_table tfoot th, .fab_table tfoot td{
	color: #fff;
}

table.fab_table tbody th
{
   padding-right: 1.0em;
	color: #25c1e2;
	font-style: normal;
	background-color: #fff;
	border-bottom: 1px dotted #aeb3b6;
}

table.fab_table td
{
   color: #FF8E1C;
	border-bottom: 1px dotted #aeb3b6;
	padding-right: 0.5em;
	
}

table.fab_table tbody tr.odd
{
	border-bottom: 1px dotted #aeb3b6;
}

