/**********************
* Reset.css 
**********************/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}

/*
 * Fixes
 */
.clearfix:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code, sup,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td 
{
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	padding: 0;
	margin: 0;
	border: 0;
	vertical-align: baseline
}


/*
 * 	Layout
 */

body{

}

#wrap{
	background: #f5f5f5;
	margin: 0 auto;
	padding: 20px;
	width: 95%;
}

#header{
	padding: 20px 0;
	height: 50px;
}
#logo{
	float: left;
}
#logo h1{	line-height: 1;	}
#logo h1 a{	text-decoration: none;	}
#logo .description{	margin: 0; line-height: 1; font-weight:bold;	}

#nav{
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	float: right;
	margin: 0px;
	position: relative;
	z-index: 998;
}
#nav li{
	background: none;
	float: left;
	position: relative;
	padding: 13px 0;
}
#nav li a{
	font-weight: bold;
	text-decoration: none;
	padding: 5px 10px;
	margin: 0 5px;
	line-height: 19px;
	text-transform: uppercase;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
#nav li a:hover{
	background: #e94e43;
	color: #FFF;
}

#nav ul{
	background:#F5F5F5;
	display: none;
	position: absolute;
	z-index: 999;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	top: 39px;
	left: 0px;
	width: 170px;
}
#nav ul li{
	background: none;
	display: block;
	float: none;
	padding: 10px 0;
	width: 170px;
}
#nav ul li a{

}
#nav ul li a:hover{
	background: none;
	color: #80291a;
}


#inner-wrap{
	background: #FFF;
	border: 1px solid #e3e3e3;
	border-radius: 	5px;
	-moz-border-radius: 	5px;
	-webkit-border-radius: 	5px;
	margin: -1px;
	padding: 20px 0;
	width: 100%;
}

#content{
	display: inline;
	float: left;
	padding: 0 20px 20px;
	overflow: hidden;
	width: 96%;
}
#content.full-width{
	width: 860px;
}


#footer{
	font-size: 11px;
	padding: 10px 20px;
	width: 860px;
}

#copyright{		float: left	}

#footer .nav{
	float: right;
	margin: 0;
}

#footer .nav li{
	background: none;
	float: left;
	margin-left: 15px;
	padding: 0;
}

img .veralign {
	vertical-align: middle;
}


/* -------------------------------------------------------------
12. FORM
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.form { padding: 5px; margin: 10px; }
.form .field_help { margin-left: 145px; font-size: 90%; color: #777; }
.form label, 
.form span.label { margin-right: 10px; padding-right: 10px; width: 125px; display: block; float: left;  font-weight: bold; text-align: right; position: relative; }
.form label em, 
.form span.label em { position: absolute; right: 0; font-size: 120%; font-style: normal; color: #C00; }
.form input:focus,
.form input.error:focus, 
.form textarea:focus {	background-color: #FFC; border-color: #FC6; }
.form div.controlset label, 
.form div.controlset input { display: inline; float: none; }
.form .controlset div { margin-left: 145px; }
.form .controlset label {font-size: 11px; font-weight: normal !important; }
.form .buttonrow { margin-left: 145px; }
.form .controlset input { border: none !important; }
.form .cancel { font-size: 11px; color: #C00; padding-left: 10px; }
.form .field { margin-bottom: 1.5em; }
.form .field input
{
	padding: 4px;
	border: 1px solid #999;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.form .xsmall { width: 50px; }
.form .small { width: 100px; }
.form .medium { width: 200px; }
.form .large { width: 300px; }
.form .xlarge { width: 400px; }

/* Label top styles */
.label-top .field label { width: 100%; display: block; text-align: left; }
.label-top .field span.label { width: 100%; display: block; float: left; text-align: left; position: relative; }
.label-top .field .field_help { margin-left: 0; font-size: 11px; }
.label-top .controlset div { margin-left: 0; }
.label-top .buttonrow { margin-left: 0; }


.portlet
{
	background: #FFF;
	width: 100%;	
	border: 1px solid #CCC;
	margin-bottom: 1.5em;
	position: relative;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

	.portlet-header
	{
		background: url(../images/portlet-header-orange.png) repeat-x top center;
		color: #FFF;
		padding: 10px 15px;
		cursor: pointer;		
		-moz-border-radius-topright: 6px;
		-moz-border-radius-topleft: 6px;
		-webkit-border-top-right-radius: 6px;
		-webkit-border-top-left-radius: 6px;
		position: relative;
		overflow: hidden;
	}
	
	#sidebar .portlet-header { 	background-image: url(../images/portlet/portlet-header-gray.png); }
	
		.portlet-header h4
		{
			font-size: 13px;			
			font-style: normal;
			font-weight: bold;
			color: #FFF;
			padding: 0;
			margin: 0;
		}
		
		.portlet-state-closed .portlet-header { -moz-border-radius: 6px; -webkit-border-radius: 6px; }
		
		.portlet-state-closed .portlet-header h4 { text-decoration: underline; }
		
	.portlet-content { 	padding: 15px; position: relative; }	
	
	.portlet-state-closed .portlet-content { display: none; }
	
		.portlet-toggle-icon
		{
			background: url(../images/portlet/portlet-arrow-close.png) no-repeat 0 0 !important;
			width: 12px;
			height: 5px;
			display: block;
			position: absolute;
			right: 15px;
			top: 18px;
		}
	
		.portlet-state-closed .portlet-toggle-icon { background: url(../images/portlet/portlet-arrow-open.png) no-repeat 0 0 !important; }
		
	.portlet-tab-nav
	{
		padding: 0;
		margin: 0;
		position: absolute;
		top: 8px;
		right: 50px;
	}
	
	.portlet-state-closed .portlet-tab-nav { display: none; }

		.portlet-tab-nav li
		{
			height: 50px;
			line-height: 2.25em;
			list-style-type: none;
			float: left;
			margin: 0 0;
		}

			.portlet-tab-nav li a
			{
				color: #FFF;
				font-size: 11px;
				font-weight: bold;
				text-decoration: none;
				padding: 10px 15px;
				outline: none !important;
			}
			
				.portlet-tab-nav li a:hover { text-decoration: underline; }
							
		.portlet-tab-content { display: none; }
		
		.portlet-tab-nav-active
		{
			background: #FFF;
			-moz-border-radius: 4px;
			-webkit-border-radius: 4px;
		}
			
			.portlet-tab-nav-active a:hover { text-decoration: none !important; }
		
		.portlet-tab-content-active { display: block !imporant; }		
			.portlet-tab-nav .portlet-tab-nav-active  a { color: #0B66B9; text-decoration: none; }


