	<div class="listing-box">
<div class="listing-header">
<<<<<<< HEAD
	<h4><%= t 'general.userlist' %></h4>
=======
	<h4><%= t 'menu.gestion.user.title' %></h4>
>>>>>>> fbe95202d5f317734cdc327e8f60022852dcad09
	
</div>
<table class="listing-table">
	<%= render :partial => @users %>
</table>
</div>
<%= link_to 'Nouveau Utilisateur', new_user_path %>