	<div class="listing-box">
<div class="listing-header">
	<h4><%= t 'general.userlist' %></h4>
	
</div>
<table class="listing-table">
	<thead>
		<tr>
			<th>Login</th>
		</tr>
	</thead>
<%= render :partial => @users %>
</table>
</div>